@page "/ThreadPage/{CodeID?}"
@using BlazorGroupB.Data
@using BlazorGroupB.Data.DAO;
@using BlazorGroupB.Models
@using BlazorGroupB.Data.Utility;
@using System.Text
@using Microsoft.EntityFrameworkCore
@using System.Configuration
@using Microsoft.Extensions.Hosting;
@using Npgsql
@using System.Data
@using System.Diagnostics
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable
@inject BlazorGroupBDbContext _context
@inject NavigationManager NaviManager
@inject IJSRuntime JSRuntime

<div class="container mt-4">
    <div class="purple-band d-flex justify-content-between align-items-center">
        <button class="btn btn-primary rounded-pill" @onclick="BackTopPage">トップページへ</button>
        <h2 class="text-white mx-auto">ABCチャンネル</h2>
        <button class="btn btn-primary rounded-pill" @onclick="ReloadPage">再読み込み</button>
    </div>

    <!-- スレッドのタイトル -->
    <h3 class="text-center">@th.ThreadName</h3>

    <!-- メッセージ一覧 -->
    @if (Msgs != null && Msgs.Any())
    {
        @foreach (var msg in Msgs)
        {
            <div class="message-container border rounded p-3 mt-3">
                <div class="d-flex justify-content-between">
                    <div>@msg.WriteName</div>
                    @if (msg.UserID == userdataID)
                    {
                        <div style="color:green;">@msg.UserID</div>
                    }
                    else
                    {
                        <div>@msg.UserID</div>
                    }
                    <div>@msg.PostTime</div>
                </div>
                <div>@msg.DetailMessage</div>
            </div>
        }
    }
    else
    {
        <div class="text-primary mt-3">No Data...</div>
    }

    <!-- コメント入力フォーム -->
    <div class="comment-form mt-5">
        <div class="d-flex flex-wrap align-items-end">
            <div class="flex-grow-1">
                <h4>コメント内容</h4>
                <textarea class="form-control mb-2" @bind="content" style="height: 150px; resize: none;" maxlength="300" placeholder="コメントを入力してください"></textarea>
            </div>
        </div>
        <div class="d-flex flex-wrap align-items-end">
            <div class="form-group mb-2" style="flex-basis: 150px;">
                <label for="nickname">お名前（ニックネーム）</label>
                <input type="text" class="form-control" @bind="nickname" id="nickname" maxlength="30" placeholder="お名前を入力してください">
            </div>
            <button class="btn btn-primary rounded-pill ml-2 align-self-end" @onclick="Send">送信</button>
        </div>
    </div>
</div>


@code {
    //  ページの番号を保持する
    [Parameter]
    public string CodeID { get; set; }

    //  入力される値の保持
    private string content = null;
    private string nickname = null;

    //  メッセージ一覧を保持する
    private List<Messages> Msgs { get; set; } = new List<Messages>();

    //  新規メッセージを保持する
    Messages msg = new Messages();

    //  このページのスレッド情報を保持する
    Threads th = new Threads();

    //  UserIDを保持する
    string userdataID = "";

    //  commonクラス(npgsqlを使うクラス)
    private Common common = new Common();

    //  占いデータの保存
    List<Uranais> uranais = new List<Uranais>();
    Random rm = new Random();

    //  Hubの追加
    private HubConnection? hubConnection;

    //  Sendボタンが有効か無効かの判定
    public bool IsConnected =>
    hubConnection?.State == HubConnectionState.Connected;

    /// <summary>
    /// メッセージの送信を行う
    /// </summary>
    /// <returns></returns>
    private async Task Send()
    {
        try
        {
            if (content == null)
            {
                Alert("本文を入力してください");
                return;
            }
            if (content?.Length > 300)
            {
                Alert("投稿内容は300文字以下にして入力してください");
                return;
            }
            if (nickname?.Length > 30)
            {
                Alert("ニックネームは30文字以下にして入力してください");
                return;
            }

            //  名前と本文を追加する
            msg.DetailMessage = content;
            msg.WriteName = nickname ?? "名無し";

            //  占いを行う
            if (msg.DetailMessage.Contains("!uranai"))
            {
                List<Uranais> ura = new List<Uranais>();
                int rand = rm.Next(1, 7);
                ura = uranais.Where(m => m.UranaiID == rand).ToList();
                msg.DetailMessage += "占いの結果：" + ura[0].Fortune;
            }

            //  ThreadIDを追加する
            if (int.TryParse(CodeID, out int number))
            {
                //  メッセージの投稿を行う
                common.PostMessage(msg, number, userdataID);
            }

            //  Hubに送信します
            if (hubConnection is not null)
            {
                await hubConnection.SendAsync("SendMessage", msg);
            }

            //  contentデータの整理(削除)
            content = null;

        }
        catch
        {
            NaviManager.NavigateTo("/Error", forceLoad: true);
        }
    }

    /// <summary>
    /// トップページに戻る
    /// </summary>
    public void BackTopPage()
    {
        try
        {
            StringBuilder sb = new StringBuilder();
            sb.Append("/");
            NaviManager.NavigateTo(sb.ToString(), forceLoad: true);
        }
        catch
        {
            NaviManager.NavigateTo("/Error", forceLoad: true);

        }

    }
    /// <summary>
    /// ページの再読み込み
    /// </summary>
    private void ReloadPage()
    {
        try
        {
            StringBuilder sb = new StringBuilder();
            sb.Append("/ThreadPage/")
                .Append(CodeID);
            NaviManager.NavigateTo(sb.ToString(), forceLoad: true);
        }
        catch
        {
            NaviManager.NavigateTo("/Error", forceLoad: true);

        }

    }

    /// <summary>
    /// OnInitializedAsyncの後に起動される。UserIDを生成する。
    /// </summary>
    /// <param name="firstRender"></param>
    /// <returns></returns>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                //  UAをuserに追加する
                var remoteUserAgent = await JSRuntime.InvokeAsync<string>("getUserAgent");

                //  Userを作成する
                userdataID = common.CreateUserID(remoteUserAgent);

            }
        }
        catch
        {
            NaviManager.NavigateTo("/Error", forceLoad: true);
        }

    }

    /// <summary>
    /// 最初に起動される
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {

        //  ハブコネクションの接続の構築
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NaviManager.ToAbsoluteUri("/chathub"))
            .Build();

        //  受信したデータをメッセージリストに追加している
        //  最後にInvokeAsync(StateHasChanged)を呼び出すことで
        // blazorに通知され、UIが更新される
        hubConnection.On<Messages>("ReceiveMessage", (msg) =>
        {
            Msgs.Add(msg);
            InvokeAsync(StateHasChanged);
        });
        //  データベースから値を取り出す
        if (int.TryParse(CodeID, out int number))
        {
            try
            {
                //  メッセージ一覧を取り出す
                Msgs = await _context.Messages.Where(m => m.ThreadID == number).ToListAsync<Messages>();

                //  スレッドを取り出して一つに入れる
                List<Threads> ths = new List<Threads>();
                ths = await _context.Threads.Where(m => m.ThreadID == number).ToListAsync<Threads>();
                th = ths[0];

                //  占い一覧を取り出す
                uranais = await _context.Uranais.ToListAsync<Uranais>();

            }
            catch (Exception ex)
            {
                NaviManager.NavigateTo("/Error", forceLoad: true);
            }

        }
        else
        {
            try
            {
                Msgs = await _context.Messages.ToListAsync<Messages>();
            }
            catch
            {
                NaviManager.NavigateTo("/Error", forceLoad: true);
            }

        }

        await hubConnection.StartAsync();
    }

    /// <summary>
    /// 不要のリソースを解放し、メモリリークを防ぐために重要らしいです
    /// </summary>
    /// <returns></returns>
    public async ValueTask DisposeAsync()
    {
        try
        {
            if (hubConnection is not null)
            {
                await hubConnection.DisposeAsync();
            }
        }
        catch
        {
            NaviManager.NavigateTo("/Error", forceLoad: true);
        }

    }

    /// <summary>
    /// エラーメッセージをバナーで出す
    /// </summary>
    /// <param name="message"></param>
    /// <returns></returns>
    public async Task Alert(string message)
    {
        try
        {
            await JSRuntime.InvokeAsync<string>("messageBox", message);
        }
        catch
        {
            NaviManager.NavigateTo("/Error", forceLoad: true);
        }

    }
}
